.toggler {
  margin: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-family: 'Righteous', cursive;
  background: #E31B36;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 9px 9px 0px 1px rgba(0, 0, 0, 0.75);
  transition: all 250ms;
}

.toggler.toggler-active {
  background: #00A2C9;
}

#logo {
  height: 70vh;
  width: 100vw;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 30vw;
}

#logo.loader {
  animation: loader 1s linear 500ms infinite;
  font-size: 21vw;
}

#logo.loader.squiggly,
#logo.loader.always-squiggly {
  animation: loader 1s linear 500ms infinite, squiggly-anim 0.34s linear infinite;
  font-size: 21vw;
}

#logo.loader .shape-animation .shape1,
#logo.loader .shape-animation .shape2 {
  transition: all 250ms ease-in-out, background 250ms ease-in-out;
}

#logo.always-k-t .letter {
  opacity: 1 !important;
}

#logo.only-white .shape {
  background: white !important;
}

#logo.only-white .shape-animation.shape-zero .shape2 {
  border-color: white !important;
  background: transparent !important;
}

svg {
  display: none;
}

#logo .letter {
  opacity: 0;
  transition: all 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

#logo.shape-active .letter {
  opacity: 1;
}

.shape-animation {
  display: inline-block;
  position: relative;
  transition: all 250ms ease-in-out;
}

.shape-animation .shape1,
.shape-animation .shape2 {
  transition: all 250ms cubic-bezier(0.68, -0.55, 0.265, 1.55), background 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.shape-animation.shape-one {
  margin: 0 0.0625em;
  display: inline-block;
  height: 0.7625em;
  width: 0.14375em;
}

.shape-animation.shape-one .shape1 {
  background: white;
  position: absolute;
  top: 0.05625em;
  width: 0.1875em;
  height: 0.15em;
  left: -0.06875em;
}

.shape-active .shape-animation.shape-one .shape1 {
  width: 0.1875em;
  height: 0.1875em;
  top: 0;
  left: -0.025em;
  border-radius: 50%;
}

.shape-animation.shape-one .shape2 {
  width: 0.14375em;
  height: 92.5%;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
}

.shape-active .shape-animation.shape-one .shape2 {
  height: 70%;
}

.shape-animation.shape-zero {
  margin: 0 0.03125em;
  display: inline-block;
  height: 0.75em;
  width: 0.5625em;
  position: relative;
}

.shape-animation.shape-zero .shape1 {
  width: 0.14375em;
  height: 0;
  background: white;
  z-index: 500;
  position: absolute;
  bottom: 35%;
  left: 0;
}

.shape-active .shape-animation.shape-zero .shape1 {
  height: 65%;
}

.shape-animation.shape-zero .shape2 {
  width: 0.25em;
  height: 0.40625em;
  background: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0.28125em;
  border: 0.15em solid white;
}

.shape-active .shape-animation.shape-zero .shape2 {
  height: 0.2625em;
}

.shape-active .shape-animation.to-red .shape {
  background: #E31B36;
}

.shape-active .shape-animation.to-blue .shape {
  background: #00A2C9;
}

.shape-active .shape-animation.to-yellow .shape {
  background: #EEB146;
}

body {
  font-family: 'Righteous', cursive;
  color: white;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  background: #212121;
  font-size: 16px;
  overflow: hidden;
}

.always-squiggly {
  -webkit-animation: squiggly-anim 0.34s linear infinite;
  animation: squiggly-anim 0.34s linear infinite;
}

@-webkit-keyframes squiggly-anim {
  0% {
    -webkit-filter: url("#squiggly-0");
    filter: url("#squiggly-0");
  }
  25% {
    -webkit-filter: url("#squiggly-1");
    filter: url("#squiggly-1");
  }
  50% {
    -webkit-filter: url("#squiggly-2");
    filter: url("#squiggly-2");
  }
  75% {
    -webkit-filter: url("#squiggly-3");
    filter: url("#squiggly-3");
  }
  100% {
    -webkit-filter: url("#squiggly-4");
    filter: url("#squiggly-4");
  }
}
@-webkit-keyframes loader {
  0% {
    font-size: 21vw;
  }
  10% {
    font-size: 21vw;
  }
  40% {
    font-size: 12vw;
  }
  60% {
    font-size: 12vw;
  }
  100% {
    font-size: 21vw;
  }
}
