body {
  background: #212121;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  height: 100vh;
  overflow: hidden;
  width: 100vw;

  align-items: start;
  flex-wrap: wrap;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  font-size: 30vw;
  height: 50vh;
  pointer-events: none;
  width: 100vw;

  align-items: center;
  justify-content: center;
}

.toggler {
  background: #E31B36;
  border-radius: 3px;
  box-shadow: 9px 9px 0 1px rgba(0, 0, 0, 0.75);
  color: white;
  cursor: pointer;
  font-family: 'Righteous', cursive;
  font-size: 0.7rem;
  margin: 10px;
  padding: 10px;
  transition: all 250ms;
}
.toggler.toggler-active {
  background: #00A2C9;
}

.kb-logo {
  color: white;
  display: inline-flex;
  font-family: 'Righteous', cursive;
  font-size: 1em;
  line-height: 1em;
  position: relative;
  transition: all 500ms;
  white-space: nowrap;

  align-items: center;
  justify-content: center;
}
.kb-logo.always-k-t .letter {
  opacity: 1 !important;
}
.kb-logo.purple {
  color: #9E52CB !important;
}
.kb-logo.no-extra-colors .shape-animation.shape-zero .shape2 {
  background: transparent !important;
  border-color: currentColor !important;
}
.kb-logo.no-extra-colors .shape {
  background: currentColor !important;
}
.kb-logo.loader {
  animation: change-font-size 1s linear 500ms infinite;
  font-size: 21vw;
}
.kb-logo.loader.squiggly,
.kb-logo.loader.always-squiggly {
  animation: change-font-size 1s linear 500ms infinite, squiggly-animation-filter 0.34s linear infinite;
  font-size: 21vw;
}
.kb-logo.loader .shape-animation .shape1,
.kb-logo.loader .shape-animation .shape2 {
  transition: all 250ms ease-in-out, background 250ms ease-in-out;
}
.kb-logo.shape-active .shape-animation.to-red .shape {
  background: #E31B36;
}
.kb-logo.shape-active .shape-animation.to-blue .shape {
  background: #00A2C9;
}
.kb-logo.shape-active .shape-animation.to-yellow .shape {
  background: #EEB146;
}
.kb-logo.shape-active .shape-animation.shape-zero .shape1 {
  height: 65%;
}
.kb-logo.shape-active .shape-animation.shape-zero .shape2 {
  height: 0.2625em;
}
.kb-logo.shape-active .shape-animation.shape-one .shape1 {
  border-radius: 50%;
  height: 0.1875em;
  left: -0.025em;
  top: 0;
  width: 0.1875em;
}
.kb-logo.shape-active .shape-animation.shape-one .shape2 {
  height: 70%;
}
.kb-logo.shape-active .letter {
  opacity: 1;
}
.kb-logo.k1b1b0t {
  transform: translate(0, -0.5em);
}
.kb-logo.k1b1b0t .shape-animation.shape-zero {
  height: auto;
}
.kb-logo.k1b1b0t .shape-animation.shape-zero .shape2 {
  animation: blink 2s infinite;
  position: static;
}
.kb-logo.k1b1b0t .shape-one:first-of-type .shape1 {
  left: 0;
}
.kb-logo.k1b1b0t .shape-one.middle .shape1 {
  width: 0.2775em;
}
.kb-logo.k1b1b0t .k1b1b0t-mouth-container .k1b1b0t-mouth {
  height: 100%;
}
.kb-logo .letter {
  opacity: 0;
  transition: all 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.kb-logo .k1b1b0t-mouth-container {
  display: flex;
  font-size: 0.5em;
  height: 1em;
  margin-left: 0.11em;
  overflow: hidden;
  position: absolute;
  top: 100%;
  width: 80%;

  align-items: center;
  justify-content: center;
}
.kb-logo .k1b1b0t-mouth-container .k1b1b0t-mouth {
  display: flex;
  height: 0;
  overflow: hidden;
  transition: all 500ms ease 300ms;

  align-items: center;
  justify-content: center;
}
.kb-logo .shape-animation {
  display: inline-block;
  position: relative;
  transition: all 250ms ease-in-out;
}
.kb-logo .shape-animation.shape-zero {
  display: inline-block;
  height: 0.75em;
  margin: 0 0.03125em;
  position: relative;
  width: 0.5625em;
}
.kb-logo .shape-animation.shape-zero .shape1 {
  background: currentColor;
  bottom: 35%;
  height: 0;
  left: 0;
  position: absolute;
  width: 0.14375em;
  z-index: 500;
}
.kb-logo .shape-animation.shape-zero .shape2 {
  background: transparent;
  border: 0.15em solid currentColor;
  border-radius: 0.28125em;
  bottom: 0;
  height: 0.40625em;
  left: 0;
  position: absolute;
  width: 0.25em;
}
.kb-logo .shape-animation.shape-one {
  display: inline-block;
  height: 0.7625em;
  margin: 0 0.0625em;
  width: 0.14375em;
}
.kb-logo .shape-animation.shape-one .shape1 {
  background: currentColor;
  height: 0.15em;
  left: -0.06875em;
  position: absolute;
  top: 0.05625em;
  width: 0.1875em;
}
.kb-logo .shape-animation.shape-one .shape2 {
  background: currentColor;
  bottom: 0;
  height: 92.5%;
  left: 0;
  position: absolute;
  width: 0.14375em;
}
.kb-logo .shape-animation .shape1,
.kb-logo .shape-animation .shape2 {
  transition: all 250ms cubic-bezier(0.68, -0.7, 0.265, 1.7), background 250ms cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.kg-hidden {
  display: none;
}

.always-squiggly {
  -webkit-animation: squiggly-animation-filter 0.34s linear infinite;
          animation: squiggly-animation-filter 0.34s linear infinite;
}

@-webkit-keyframes squiggly-animation-filter {
  0% {
    -webkit-filter: url('#squiggly-0');
            filter: url('#squiggly-0');
  }
  25% {
    -webkit-filter: url('#squiggly-1');
            filter: url('#squiggly-1');
  }
  50% {
    -webkit-filter: url('#squiggly-2');
            filter: url('#squiggly-2');
  }
  75% {
    -webkit-filter: url('#squiggly-3');
            filter: url('#squiggly-3');
  }
  100% {
    -webkit-filter: url('#squiggly-4');
            filter: url('#squiggly-4');
  }
}
@-webkit-keyframes change-font-size {
  0% {
    font-size: 21vw;
  }
  10% {
    font-size: 21vw;
  }
  40% {
    font-size: 12vw;
  }
  60% {
    font-size: 12vw;
  }
  100% {
    font-size: 21vw;
  }
}
@-webkit-keyframes blink {
  0% {
    height: 0.1em;
  }
  45% {
    height: 0.1em;
  }
  50% {
    height: 0;
  }
  55% {
    height: 0.1em;
  }
  100% {
    height: 0.1em;
  }
}
